* {
    box-sizing: border-box
}

body {
    margin: 16px;
    font-family: system-ui, Segoe UI, Arial;
    background: blue;
    color: greenyellow;
}

header,
footer {
    margin-bottom: 12px
}

.panel {
    max-width: 720px;
    background: purple;
    padding: 16px;
    border: 1px solid lightblue;
    border-radius: 12px;
}


#btnStart {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #222;
    background: #222;
    color: #fff;
    cursor: pointer
}

